@using asc_general.Models;
@model dynamic

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string FB = "http://localhost:59178/Complex/Index/" + Model.Blog.id;
}
@{
    if (Model.Blog.blog_category.name == "Tehsil")
    {
        @section foodblogCss {

            <link rel="stylesheet" href="~/Public/css/food.css">
<link rel="stylesheet" href="~/Public/css/tehsilblog.css">
        }
    }
    else if (Model.Blog.blog_category.name == "Qida")
    {
        @section foodblogCss {
        <link rel="stylesheet" href="~/Public/css/food.css" />
        }
    }
    else if (Model.Blog.blog_category.name == "Idman")
    {
        <link rel="stylesheet" href="~/Public/css/food.css">
        <link rel="stylesheet" href="~/Public/css/idmanblog.css">
    }
    else if (Model.Blog.blog_category.name == "Saglamliq")
    {
        <link rel="stylesheet" href="~/Public/css/food.css">
        <link rel="stylesheet" href="~/Public/css/healthblog.css">
    }

}

<!-- Strat Blog Details -->
<div id="warpper-blog clearfix" class="warpper-blog section">
    <div class="container">
        <div class="row">
            <!-- Strat Left Blog sidber -->
            <div class="col-sm-12 col-md-8">
                <div class="blog-warpper margin-bottom-30">
                    <article class="inner-blog">
                        <figure class="margin-bottom-30 image">
                            <div class="row">
                                <div class="col-md-7">
                                    <img class="img-responsive" src="~/Uploads/@Model.Blog.photo" alt="Blog Image">
                                </div>
                                <div class="col-md-5">
                                </div>
                            </div>
                        </figure>
                        <h2 class="post-title color-flamingo"><a href="@Url.Action("index","singleblog",new { id = Model.Blog.id})">@Model.Blog.title</a></h2>
                        <div class="lower-part">
                            <div class="post-text">
                             <p> @Model.Blog.text</p>
                            </div>
                            <div class="fb-comments" data-href="@FB" data-numposts="1" data-width="750"></div>
                        </div>
                    </article>
                    <!-- End Article -->
                </div>
            </div><!-- End Left Left Sidber -->
            <!--  Strat Blog Right Sidber -->
            <div class="col-sm-12 col-md-4">
                <div class="blog-sidber">
                    <div class="clearfix"></div>
                    <!-- End Search Form-->
                    <div class="recent-post">
                        <div class="sections">
                            <h2>Diger Meqaleler</h2>
                        </div>
                        <ul class="recent-post-list list-inline">
                            @foreach (blog blg in Model.otherblogs)
                            {
                                <li>
                                    <a href="@Url.Action("index","singleblog",new { id =blg.id})"><img src="~/Uploads/@blg.photo" class="img-responsive" alt="blog01"></a>
                                    <h6><a class="color-black" href="#">@blg.title </a></h6>
                                    <span class="fa fa-clock-o color"></span> &nbsp;@Convert.ToString(string.Format("{0:dd/MM/yyyy}",blg.date))
                                </li>
                            }
                     
                
                        </ul>
               
                    </div>
                    <div class="clearfix"></div>
                    <!-- End Recent Post -->


                </div>
            </div><!-- End Left Left Sidber -->
        </div><!-- End Row -->
    </div>
</div>
<div id="fb-root"></div>
<script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.10";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
<!-- End Blog Details -->
@section foodblogJs {
<script src="~/asc_temp/school/js/vendor/jquery.js"></script>
<script type="text/javascript" src="~/asc_temp/js/food.js"></script>

    }

